
.navBar {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px 0;
  border-right: 1px solid #424A52;

  &__icon{
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(66deg) brightness(102%) contrast(103%);
  }
  &__item {
    display: flex;
    gap: 32px;
    &:first-child{
      padding: 0 0 20px 16px;
      &:hover{
        background-color: transparent;
        border: none;
      }
    }

  }
  &__logo_link{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
  &__logo{
    width: 60px;
    height: 60px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    color: #ffffff;
    transition: .5s;
    width: 100%;
    padding: 16px 20px;
    font-weight: 600;
    gap: 16px;

    &:hover {
      background-color: rgb(59, 181, 255);
      border: 1px solid #949393;
      color: #ffffff;
    }

    &.active {
      background-color: rgb(131, 207, 253);
    }
  }
}

